@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .my-input {
        @apply  input rounded-sm  w-fit h-8  border-primary 
    }
    .my-btn {
        @apply bg-primary hover:bg-primary-focus text-base-100 px-4 py-2 shadow-md my-2
    }
    .my-btn-red {
        @apply bg-red-500 text-base-100 px-4 py-2 shadow-md rounded-lg my-2
    }
    .my-form-modal {
        @apply bg-white/90 p-4 rounded-sm drop-shadow-2xl fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  gap-2
    }
    .my-dropdown {
        @apply dropdown-content menu p-2  font-mono font-normal bg-white/90 shadow w-56 
    }
    .my-day-container {
        @apply rounded-sm w-52 h-auto lg:w-full  shadow-lg m-2 border-[1px] border-primary;
    }
    .my-day-header {
        @apply flex justify-between p-2 bg-base-300 rounded-t-md;
    }
    h1 {
        @apply text-primary text-2xl
    }
    .my-landing-text {
        @apply inline-block text-white text-3xl row-span-1  md:text-5xl 2xl:text-6xl font-sans font-extrabold;
    }
    .my-list-item {
        text-decoration:none;
        background-image: linear-gradient(#e24f00, #e24f00);
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 0%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
    }
    .my-list-item:hover,
    .my-list-item:focus,
    .my-list-item:active {
        background-size: 100% 0.1em;
        @apply bg-transparent;
    }
}
